# Ignore The following directories / file extensions
Library
Temp

# Ignore the following file extensions
*.vcproject
*.sln
/Maxx's Cosmic Adventure/Assembly-CSharp.pidb
/Maxx's Cosmic Adventure/Assembly-CSharp-firstpass.csproj
/Maxx's Cosmic Adventure/Assembly-CSharp-firstpass.pidb
/Maxx's Cosmic Adventure/Assembly-CSharp-firstpass-vs.csproj
/Maxx's Cosmic Adventure/Assembly-CSharp-vs.csproj
/Maxx's Cosmic Adventure/Assembly-UnityScript-firstpass.pidb
/Maxx's Cosmic Adventure/Assembly-UnityScript-firstpass.unityproj
/Maxx's Cosmic Adventure/Assembly-UnityScript-firstpass-vs.unityproj
/Maxx's Cosmic Adventure/Maxx's Cosmic Adventure.sln
/Maxx's Cosmic Adventure/Maxx's Cosmic Adventure.userprefs
/Maxx's Cosmic Adventure/Maxx's Cosmic Adventure-csharp.sln
/Maxx's Cosmic Adventure/Assembly-CSharp.csproj
